@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* egPurple */
    --egPurple-default: #6b00ff;
    --egPurple-light: #6b00ff50;
    /* egWhite */
    --egWhite-default: #ffffff;
    /* egGrey */
    --egGrey-default: #f3f3f3;
    --egGrey-light: #f9f9f9;
    /* egBlack */
    --egBlack-default: #252525;
    --egBlack-semilLght: #505050;
    --egBlack-light: #b5b5b5;
    --egBlack-superLght: #e1e1e1;
    /* egRed */
    --egRed-default: '#DA1E28';
    --egRed-semilLght: '#DA1E2840';

    --egRed-light: '#FBE8E9';
    /* egGreen */
    --egGreen-default: '#35CF61';
    --egGreen-light: '#EBFAEF';

    /* egYellow */
    --egYellow-default: '#FED74C';
    --egRed-semilLght: '#FED74C50';
    --egYellow-light: '#FFFBED';
}

/* 스크롤 바 전체에 대한 스타일 지정 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤 바의 너비 */
    height: 8px; /* 스크롤 바의 높이 */
    background-color: #ffffff50; /* 스크롤 바의 배경색 */
}

/* 스크롤 바의 색상 지정 */
::-webkit-scrollbar-thumb {
    background-color: var(--egPurple-light); /* 스크롤 바의 색상 */
    border-radius: 5px;
}

/* 스크롤 바 호버 시 색상 지정 */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--egPurple-default); /* 스크롤 바의 색상 */
}

/* common */
.eg-marginY {
    @apply my-4;
}

.eg-title {
    @apply text-xl font-bold my-4;
}

/* admin */
.eg-admin-wrapper {
    @apply max-w-screen-md m-auto p-2 mt-16 mb-8;
}
